.fs-user-p {
    font-size: 12px;
}

.btn-score {
    font-size: 30px;
    width: 50px;
    margin: 5px;
}

.menu-blog-user {
    right: 240px;
    font-size: 36px;
}

#score-value {
    font-weight: bold;
    color: black;
}